<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
        <title>Car</title>
        <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles/car_card.css"/>
        <link href="/scripts/lightboxed/lightboxed.css" rel="stylesheet" />
        <script src="/scripts/lightboxed/lightboxed.js"></script>
        <script src="/scripts/car_card.js"></script>
    </head>
    <body>
        <h2 class="header">ГНОЙ, 2016 год в Кемерово</h2>
        <p class="price">699 000 ₽</p>
        <div class="slide hi-slide">
            <div class="hi-prev"></div>
            <div class="hi-next"></div>
            <ul>
                <li style="z-index: 3; width: 170px; height: 218px; top: 35px; left: 110px;"><img class="lightboxed" rel="group1" src="/styles/media/fiesta1.jpg" alt="" style="opacity: 0.7;"></li>
                <li style="z-index: 4; width: 224px; height: 288px; top: 0px; left: 263px;"><img class="lightboxed" rel="group1" src="/styles/media/fiesta2.jpg" alt="" style="opacity: 1;"></li>
                <li style="z-index: 3; width: 170px; height: 218px; top: 35px; left: 470px;"><img class="lightboxed" rel="group1" src="/styles/media/fiesta3.jpg" alt="" style="opacity: 0.7;"></li>
                <li style="z-index: 2; width: 130px; height: 170px; top: 59px; left: 620px;"><img class="lightboxed" rel="group1" src="/styles/media/fiesta4.jpg" alt="" style="opacity: 0.4;"></li>
                <li style="z-index: 1; width: 120px; height: 150px; top: 69px; left: 500px;"><img class="lightboxed" rel="group1" src="/styles/media/fiesta5.jpg" alt="" style="opacity: 0.2;"></li>
                <li style="z-index: 1; width: 120px; height: 150px; top: 69px; left: 134px;"><img class="lightboxed" rel="group1" src="/styles/media/fiesta6.jpg" alt="" style="opacity: 0.2;"></li>
                <li style="z-index: 2; width: 130px; height: 170px; top: 59px; left: 0px;"><img class="lightboxed" rel="group1" src="/styles/media/fiesta17.jpg" alt="" style="opacity: 0.4;"></li>
            </ul>
        </div>
         <div class="car_page">
                <table class="tbl1">
                    <tr>
                        <td class="variable">Двигатель</td> <td class="value">бензин, 1.6 л</td>
                    </tr>
                    <tr>
                        <td class="variable">Мощность</td> <td class="value">105 л.с.</td> 
                    </tr>
                    <tr>
                        <td class="variable">Коробка передач</td> <td class="value">робот</td> 
                    </tr>
                    <tr>
                        <td class="variable">Привод</td> <td class="value">передний</td> 
                    </tr>
                    <tr>
                        <td class="variable">Тип кузова</td> <td class="value">хэтчбэк 5 дв.</td> 
                    </tr>
                    <tr>
                        <td class="variable">Цвет</td> <td class="value">красный</td> 
                    </tr>
                    <tr>
                        <td class="variable">Пробег, км</td> <td class="value">160 000</td> 
                    </tr>
                    <tr>
                        <td class="variable">Руль</td> <td class="value">левый</td> 
                    </tr>
                     <tr>
                        <td class="variable">Число мест</td> <td class="value">5</td>
                    </tr>
                    <tr>
                        <td class="variable">Поколение</td> <td class="value">6 поколение, рестайлинг</td> 
                    </tr>
                    <tr>
                        <td class="variable">Название комплектации</td> <td class="value">1.8 MT Ghia</td>
                    </tr>
                </table>
                <table class="tbl2">
                    <tr>
                        <td class="variable">Время разгона 0-100 км/ч, с</td> <td class="value">10.4</td>
                    </tr>
                    <tr>
                        <td class="variable">Максимальная скорость, км/ч</td> <td class="value">171</td>
                    </tr>
                    <tr>
                        <td class="variable">Используемое топливо</td> <td class="value">бензин</td> 
                    </tr>
                    <tr>
                        <td class="variable">Расход топлива в городском цикле, л/100 км</td> <td class="value">8.4</td>
                    </tr>
                    <tr>
                        <td class="variable">Расход топлива за городом, л/100 км</td> <td class="value">4.5</td>
                    </tr>
                    <tr>
                        <td class="variable">Расход топлива в смешанном цикле, л/100 км</td> <td class="value">5,9</td>
                    </tr>
                    <tr>
                        <td class="variable">Максимальный крутящий момент, Н*м (кг*м) при об./мин.</td> <td class="value">155 (16) / 4150</td>
                    </tr>
                    <tr>
                        <td class="variable">Кондиционер</td> <td class="value">Есть</td>
                    </tr>
                    <tr>
                        <td class="variable">Объем багажника, л</td> <td class="value">	330 (940)</td>
                    </tr>
                    <tr>
                        <td class="variable">Габариты кузова (Д x Ш x В), мм</td> <td class="value">4488 x 1840 x 1497</td> 
                    </tr>
                     <tr>
                        <td class="variable">Клиренс (высота дорожного просвета), мм</td> <td class="value">155</td> 
                    </tr>
                </table>
            </div>
        <script>
            $('.slide').hiSlide();
        </script>    
    </body>
</html>